error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nsBT="uri:eacBT/1.1" targetNamespace="uri:eacBT/1.1" elementFormDefault="qualified">

	<xsd:complexType name="BinaryType">
		<xsd:sequence>
			<xsd:element name="binary" type="xsd:base64Binary" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GetMasterListResult">
		<xsd:sequence>
			<xsd:element name="returnCode" type="nsBT:BinaryType"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
